# Node modules (never copy to Docker image)
node_modules

# Environment secrets
.env

# Git and other VCS
.git
.gitignore

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# System files
.DS_Store

# Editor folders
.vscode
